@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200;300;400;500;600;700&display=swap");

:root {
  color-scheme: light dark;
  color: #0c0d0e;
  background-color: #f1f2f4;
  font-family: "Athiti";
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 10px;
}

nav img {
  width: 150px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #ababab, #ababab, 50%, #000 0);
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  text-align: left;
  &:hover {
    background-position: 0;
    color: #0300e2;
  }
}

button {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 20px;
  font-family: "Athiti", sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ababab; /* Color that will appear on hover */
  transition: left 0.8s cubic-bezier(0, 0, 0.23, 1);
  z-index: -1;
}

button:hover::before {
  left: 0; /* Move the background color from left to right */
}

button:hover {
  color: #000; /* Change the text color on hover */
}

main {
  width: 100%;
}

main section {
  background-color: #ababab;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

main section>div {
  box-sizing: border-box;
  width: 49%;
  height: 97%;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 20px;
}

main section .text-div {
  padding: 50px 40px;
  position: relative;
}

.text-div h1 {
  font-size: 60px;
  font-family: "Abel";
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  width: 90%;
}

.text-div>p {
  margin: 20px 0;
  font-size: 18px;
  color: #373737;
}

.text-div button {
  padding: 10px 30px;
  margin: 20px 20px 40px 0px;
  align-items: center;
  display: inline-flex;
}

span {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.text-div .demo {
  background-color: #cdcdcd;
  color: #000;
}

.demo::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Color that will appear on hover */
  transition: left 0.8s cubic-bezier(0, 0, 0.23, 1);
  z-index: -1;
}

.demo:hover {
  color: #fff;
}

.text-div footer {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.text-div footer article{
  width: 30%;
  margin: 0 20px;
}

.text-div footer h3 {
  font-size: 50px;
  line-height: 50px;
}

.text-div footer p {
  font-size: 15px;
  text-transform: capitalize;
}

main section .image-div {
  background-image: url(../assets/bg.png);
  background-size: cover;
  background-position: center;
  filter: contrast(1.2);
  position: relative;
  background-repeat: no-repeat;
}

.image-div>div {
  position: absolute;
  bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.image-div div>div {
  background-color: #fff;
  width: fit-content;
  border-radius: 5px;
  width: 40%;
  margin: 20px 40px;
  padding: 5px 10px;
}

.image-div div>div aside {
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: space-between;
}

.image-div div>div aside h4 {
  font-size: 13px;
}

.image-div div>div aside h5 {
  font-size: 33px;
}

.image-div div>div aside ion-icon {
  font-size: 13px;
}

.image-div div>div aside .inc {
  background-color: #ccffcc;
  font-size: 12px;
  border-radius: 30px;
  border: none;
  color: #003a00;
  padding: 1px 7px;
}

.image-div div>div aside .dec {
  background-color: #ffbfbf;
  font-size: 12px;
  border-radius: 30px;
  border: none;
  color: #ff0000;
  padding: 1px 7px;
}

.image-div div>div aside .tag ion-icon {
  font-size: 12px;
  margin-right: 6px;
}

.image-div div>div aside p {
  display: inline-flex;
}

.image-div>div footer {
  background-image: url(../assets/slider.png);
  height: 10px;
  width: 50%;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 40px;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  main section {
    height: auto;
  }
main section>div {
  width: 48%;
  height: auto;
}
.text-div footer {
  position: static;
}
.image-div div>div {
  background-color: #fff;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  width: 80%;
}
}

@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
  main section {
    height: auto;
    display: block;
    padding: 7px;
  }
  main section>div {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
  main section .text-div {
    padding: 30px 20px;
    margin-bottom: 10px;
  }
  main section .image-div {
    height: 75vh;
  }
  .text-div h1 {
    width: 100%;
    font-size: 40px;
  }
  .text-div>p {
    margin: 30px 0;
    margin-bottom: 40px;
  }
  .text-div button {
    margin: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }
  .text-div footer {
    position: static;
    margin: 30px 0 15px 0;
  }
  .text-div footer article {
    width: 50%;
  }
  .image-div div>div {
    background-color: #fff;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80%;
  }
}